<h2>Personal Details</h2>
<form [formGroup]="formGroup">
  <fieldset>
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" formControlName="firstName" />
    <span class="validation-error">{{ firstNameValidation }}</span>
  </fieldset>
  <fieldset>
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" formControlName="lastName" />
  </fieldset>
  <fieldset>
    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email" />
  </fieldset>

  <button (click)="saveClicked()">Save</button>
</form>
